@import "tailwindcss";


@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
  }
}




:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(240, 230, 230, 0.87);
  background-color: #f4eded;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

a {
  font-weight: 500;
  color: #5b28bb;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;   /* отключаем скролл */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 600;
  line-height: 0.5em;
  padding-top: 20px;
  text-align: center;
  color: aliceblue;
}

button{
  cursor: pointer;
}

.btn {
  border-radius: 4px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(205, 214, 219, 0);
  cursor: pointer;
  transition: border-color 0.25s; 
  cursor: pointer;
}
.btn:hover {
  border-color: #646cff;
}


section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #aea4a4;
}

::-webkit-scrollbar-thumb {
  background-color: #e50914;
  border-radius: 4px;
}

